@import "general";
@import "variables";

.calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  width: 7 * ($cell-size + $cell-gap);
  transform: translate(-50%,-50%);

  div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $cell-size;
    height: $cell-size;
    margin-right: $cell-gap;
    margin-bottom: $cell-gap;
    background-color: #eee;
    border: 1px solid black;
    transition: transform 0.5s, background-color 0.5s;
    cursor: pointer;

    &:hover {
      background-color: pink;
      transform: translateY(-20px);
    }
  }
}

@for $i from 1 through 31 {
  .calendar :nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} > &:nth-child(n + #{$i + 1}) {
    display: none;
  }
}

@each $day, $day-num in $days {
  .calendar-#{$day} {
    & :first-child {
      margin-left: ($cell-size + $cell-gap) * $day-num;
    }
  }
}
